.row{
    margin-top: 20px;
}
.a{
    border: 7px solid rgb(222, 221, 221);
    text-align: center;
    padding: 30px;
    background-color: blue;
    color: white;
    font-size: 30px;
}
.s{
    padding: 20px;
    border: 10px solid white;
    background-color: green;
    padding: 30px;
}
.g{
    background-color: red;
}
.h{
    padding: 10px;
    border: 5px solid white;
    background-color: black;
    padding: 30px;
}


